* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body {
    background-color: #070707;
    color: white;
    background-size: cover;

}

.header {

    background-color: #9f3647;
    color: #ffffff;
    height: 12vh;
    position: sticky;
    top: 0;

    .navegar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
        padding: 1.5rem 0;
    }

    .logo {
        display: flex;
        text-decoration: none;
        color: #f5f5f5;
        font-weight: 700;
        font-size: 1.2rem;
    }

    .listaNav {
        display: flex;
        list-style: none;
        align-items: center;

        .lItem {
            margin-right: 20px;

            .liNav {
                text-decoration: none;
                color: #f5f5f5;
                font-weight: 600;
                font-size: 1rem;
                padding: 0.5rem 1rem;

            }
        }

        .liNav.iniSesion {
            display: flex;
            background-color: #070707;
            color: white;

            border-radius: 5px;

            transition: transform 0.3s, box-shadow 0.3s;

            &:hover {
                background-color: #9f3647;
            }
        }
    }
}


@media (max-width: 768px) {
    .header {
        height: initial;

        .navegar {
            margin-left: 10px;
            margin-right: 10px;
            flex-direction: column;
            row-gap: 20px;

            .Logo {
                font-size: 1.2rem;
                font-weight: 700;
            }

            .listaNav {

                padding: initial;

                .liItem {
                    .linNav {
                        font-weight: 400;
                        margin-right: initial;
                        font-size: 1rem;
                        padding: 0.2rem;

                    }

                }
            }
        }
    }
}



.main {
    .secPrincipal {
        color: white;
        background: linear-gradient(to right top, #0000008a, #0000008a), url(../img/fondo.jpg);
        background-size: cover;
        background-position: center;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .titPrincipal {
            font-size: 3.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .subPrincipal {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        .btnRegistro {
            background-color: #9f3647;
            color: #ffffff;
            padding: 1rem 2rem;
            border-radius: 5px;
            font-size: 1.2rem;
            font-weight: 700;
        }

        .btnRegistro:hover {
            background-color: #7a0026;
            transform: scale(0.95);
        }
    }

    .buscador {
        background-color: #070707;
        color: rgb(250, 250, 250);
        height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .titSection {
            font-size: 2.5rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }

        .buscadorPeliculas {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;

            .inputBuscador {
                border: 2px solid white;
                border-radius: 25px;
                color: #070707;
                font-size: 1rem;
                height: 50px;
                margin: 20px 0px;
                outline: none;
                padding: 0px 20px;
                width: 500px;
            }

            .botonBuscador {
                background-color: #9f3647;
                display: inline-block;
                color: #f7f7f7;
                height: 50px;
                margin: 20px 10px;
                padding: 0 20px;
                border-radius: 25px;
                font-size: 1rem;
                font-weight: 700;
                border: 2px solid white;
                text-align: center;
            }

            .botonBuscador:hover {
                background-color: #7a0026;
                transform: scale(0.95);
            }
        }
    }
}

.peliTendencias {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;

    .titSeccion {

        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .peliculas {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 60px;
    }
}

.peli {
    width: 200px;
    height: 300px;

    &:hover {
        box-shadow: 0 0 30px #9f3648cd;
        transform: scale(0.9);
    }
}

.botonAnteSiguiente {
    border: 1px solid white;
    box-sizing: content-box;
    margin-top: 50px;
    margin-left: 20px;
    background-color: #9f3647;
    color: #ffffff;
    padding: 1rem 1rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
    margin-bottom: 60px;
}

.botonAnteSiguiente:hover {
    background-color: #7a0026;
    transform: scale(0.95);
}

.peliAclamadas {
    width: 160px;
    height: 240px;
}

.peliculasAclamadas {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 60px;

    .tituloSection {
        font-size: 2.5rem;
        font-weight: 700;
        margin-bottom: 40px;
    }
}

.aclamadas {
    overflow-x: scroll;
    overflow-y: hidden;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px 0px 40px 0px;


}





.footer {
    display: flex;
    background-color: #9f3647;
    color: #ffffff;
    height: 15vh;
    justify-content: center;
    align-items: center;

    .listadoNav {
        display: flex;
        list-style: none;
        align-items: center;

        .listadoItem {
            margin-left: 20px;

            .liNav {
                text-decoration: none;
                color: #ffffff;
                font-weight: 700;
                font-size: 1.2rem;
            }

            .adminPeliculas {
                display: flex;
                background-color: #181419;
                color: white;
                padding: 0.5rem 1rem;
                border-radius: 5px;
            }
        }
    }

    .flechaArriba {
        position: fixed;
        bottom: 20px;
        right: 20px;
        color: white;
        cursor: pointer;
    }
}



@media (max-width: 768px) {
    .footer {
        height: initial;
        padding-top: 15px;
        padding-bottom: 20px;

        .listadoNav {
            flex-direction: column;

            row-gap: 15px;

            .listadoItem {

                .liNav {
                    font-size: 1rem;
                }

                .adminPeliculas {
                    padding: 0.5rem 0.8rem;
                }
            }
        }
    }
}


hr {
    border: 1px solid #9f3647;
    width: 80%;
    margin: 0 auto;
    margin-top: 40px;
}

/*---------------cargar API---------------------------*/

.movies-container {
    width: 90%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-columns: repeat(2, 1fr);
    gap: 30px;
}
.titulo-pelis {
    margin-top: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
    margin-bottom: 40px;
    color: #9f3647;
}

.movies-container .pelicula {
    text-align: center;
}

.movies-container .pelicula .titulo {
    font-size: 16px;
    font-weight: 600;
}

.movies-container .pelicula .poster {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 15px;
}

.btn-container {
    text-align: center;

    .btn-anterior,
    .btn-siguiente {
        background-color: #9f3647;
        display: inline-block;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: 500;
        border: 1px solid #fff;
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
        margin-bottom: 100px;
        margin-top: 50px;
        margin-left: 20px;

        &:hover {
            transform: scale(0.95);
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
            cursor: pointer;
        }
    }
}

.titulos {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 10px;
}

.descripcion {
    text-align: left;
}
.card-img-top{
    height: 300px;
}
.descripcion{
    overflow-y: auto;
    max-height: 100px;
}
/*-------------------registro-------------------------*/

.bodyRegistro {
    height: 100vh;
    background: linear-gradient(to right top, #24242473, #24242473), url(../img/fondoRegistro.jpg);
    background-size: cover;
    background-position: center;
}

.headerRegistro {
    color: #ffffff;
    height: 8vh;
    padding: 30px;

    .anclaLogo {
        text-decoration: none;
        color: #ffffff;
        font-weight: 700;
        font-size: 1.2rem;

        /*animacion hover*/
        &:hover {
            animation: tilt-n-move-shaking 0.25s infinite;
        }
    }
}

.main {
    .sectorRegistro {
        background-color: rgb(42, 42, 42);
        width: 30%;
        margin: 0 auto;
        border-radius: 5px;
        padding: 40px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        font-size: 1.2rem;

        .tituloRegistro {
            font-size: 2.0rem;
            font-weight: 700;
            margin-bottom: 20px;
        }

        form {
            width: 100%;
            padding: 40px;

            input:not(.check, .boton),
            select {
                width: 100%;
                margin-bottom: 10px;
                height: 40px;
                padding: 0px 20px;
                font-size: 1.2rem;
                border-radius: 20px;
                border: 2px solid #9f3647;
                background-color: #333333;
                outline: none;
                color: rgb(255, 255, 255);
            }

            /*
            .error input:not(.check, .boton),
            .error select {
                border: 1px solid #ff0000;
            }

            .error-text {
                color: #ff0000;
                font-size: 0.8rem;
                margin-top: 0px;
                margin-bottom: 10px;
            }*/

            .terminos {
                display: flex;
                font-size: 0.8rem;
                align-items: center;
                margin-bottom: 20px;

                .textoCheck {
                    margin-left: 10px;
                }
            }

            .boton {
                width: 87%;
                box-sizing: content-box;
                background-color: #9f3647;
                border: 2px solid #9f3647;
                color: #ffffff;
                padding: 1rem 1rem;
                border-radius: 5px;
                font-size: 1rem;
                font-weight: 500;

            }

            .ayuda {
                margin-top: 40px;
                font-size: 1rem;
                text-decoration: none;
                color: #787878;
                font-weight: 400;

            }
        }

    }

}



@media (max-width: 1200px) {
    .bodyRegistro {
        .headerRegistrarse {
            padding: 20px;

            .anclaLogo {
                font-size: 1rem;
            }
        }

        .main {
            .sectorRegistro {
                width: 95%;
                padding: 10px 10px;

                .tituloRegistro {
                    font-size: 2rem;
                }

                form {
                    width: 100%;
                    text-align: center;

                    input:not(.check, .boton),
                    select {
                        width: 80%;
                        height: 35px;
                        font-size: 1rem;
                    }

                    .terminos {
                        width: 80%;
                        margin: 0 auto;
                        font-size: 0.7rem;
                    }

                    .boton {
                        margin-top: 20px;
                        margin-bottom: 20px;
                        width: 70%;
                        padding: 0.8rem 0.8rem;
                        font-size: 0.8rem;
                    }

                    .ayuda {
                        text-align: left;
                        font-size: 0.8rem;
                    }
                }

            }
        }
    }

}